.custom-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.custom-input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.custom-button {
    padding: 12px 20px;
    background-color: #6a0dad; /* Couleur violette */
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

    .custom-button:hover {
        background-color: #8a2be2; /* Variation du violet au survol */
    }

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.custom-checkbox {
    margin-right: 20px; /* Space between checkbox and label */
    width: auto;
    height: auto;
}

.custom-label {
    margin: 0; /* Remove extra margin */
    font-weight: bold;
}


.custom-textarea {
    resize: vertical;
}
