@using SupWarden.UI.ViewModels.User
@model ChangePasswordVM
@{
    ViewData["Title"] = "Change Password";
}

<link href="~/css/vault/CreateElementVaultstyle.css"
      rel="stylesheet" asp-append-version="true" />
<div class="custom-container">
    <div class="form-container change-password-container">

        @if (ViewData["IsPasswordChanged"] != null)
        {
            <div style="margin-bottom: 15px; text-align:center;">
                <p class="alert alert-success">Your password has been changed successfully.</p>
            </div>
        }

        <form asp-action="ChangePassword" asp-controller="User" method="post" autocomplete="off">
            <h1 class="custom-h1">Change Your Password</h1>

            <div style="margin-bottom: 15px;">
                <label asp-for="CurrentPassword" class="custom-label">Current Password</label>
                <input asp-for="CurrentPassword" type="password" class="custom-input" required />
            </div>

            <div style="margin-bottom: 15px;">
                <label asp-for="NewPassword" class="custom-label">New Password</label>
                <input asp-for="NewPassword" type="password" class="custom-input" required />
            </div>

            <div style="margin-bottom: 15px;">
                <label asp-for="ConfirmPassword" class="custom-label">Confirm New Password</label>
                <input asp-for="ConfirmPassword" type="password" class="custom-input" required />
            </div>

            <div>
                <button type="submit" class="custom-button">Validate</button>
            </div>

            <div style="margin-top: 15px;" class="alert alert-danger text-danger" asp-validation-summary="All"></div>
        </form>
    </div>
</div>
